.container {
  display: flex;
  /* height: 100vh; */
  flex-direction: row;
  /* background: linear-gradient(to bottom right, #ff4800, #ffa600); */
  padding-top: 60px;
  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding-top: 0px;
  }
}

.leftDiv,
.rightDiv {
  padding: 20px;
  text-align: center;
  color: white;
  @media (max-width: 768px) {
  }
}
.leftDiv {
  flex: 2;
  position: relative;
  @media (max-width: 768px) {
  }
}

.circle {
  position: absolute;
  
  border-radius: 50%;
  opacity: 0.7;

}
.circle1 {
  background-color: rgba(210, 205, 195, 0.574);
  width: 300px;
  height: 300px;
  left: 50px;
  top: 50px;
  @media (max-width: 768px) {
    width: 130px;
    height: 130px;
    left: 30px;
  top: 130px;
  }
}

.circle2 {
  background-color: rgba(210, 205, 195, 0.574);
  width: 200px;
  height: 200px;
  top: 250px;
  left: 250px;
  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
    left: 100px;
  top: 230px;
  }
}
.rightDiv {
  /* background-color: #f0f0f0; */
  margin: 80px 50px;
  display: flex;
  position: relative;
  z-index: 3;
  border-radius: 0px 60px 0px 60px;
  background-color: #f1a86d;
  border: 2px solid #ccc; /* Border properties */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.9);
  justify-items: center;
  align-items: center;
  @media (max-width: 768px) {
    /* margin-left: 0; Reset margin for mobile view */
    margin-top: 20px;
    padding: 90px 20px;
  }
}

.hero-div2 {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: min-content; /* 696px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 70px 50px;
  padding-top: 100px;
  /* background-color: #9d8189; */
  overflow: hidden;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
}

.hero-title2 {
  flex-shrink: 0;
  padding: 0px 30px;
  height: auto; /* 172px */
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: visible;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  letter-spacing: 0em;
  line-height: 1.2;
  text-align: center;
  margin: 0px;
}

.hero-text2 {
  font-size: 25px;
  font-weight: 300;
  margin: 0px;
}
.hero-desc2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 30px;
  padding: 10px 60px;
  text-align: center;
}

@media (width<=768px) {
  .hero-title2 {
    font-size: 30px;
    margin-top: 40px;
  }
  .hero-text2 {
    font-size: 18px;
  }
  .hero-desc2 {
    font-size: 17px;
    padding: 10px 1px;
  }
  .hero-button2 {
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 15px 18px;
  }
}

.title2 {
  font-size: 30px;
  @media (max-width: 768px) {
    font-size: 27px;
    padding: 0px 10px;
  }
}

.inputGroup2 {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 20px 0px;
  font-size: 26px;
  font-weight: 500;
}

input {
  background: #f2c9a8;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  color: white;
  width: 150px;
  height: 45px;
  margin-left: 30px;
  padding-left: 10px;
  @media  (max-width: 768px) {
  width: 125px;
  height: 35px;
    
  }
}
input::placeholder {
  color: white;
}
label{
  font-size: 15px;
}

.button-292 {
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.3);
}

